<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <title>Nurovant</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
      line-height: 1.5;
      text-decoration: none;
    }

    html,
    body {
      width: 100%;
      height: 100%;
      font-family: "Inter", sans-serif;
      overflow-x: hidden;
    }

    a {
      color: black;
      font-family: "Inter", sans-serif;
    }

    p {
      margin-top: 10px;
    }

    ul li {
      margin-top: 10px;
    }
  </style>
</head>

<body>
  <main style="
        background-color: #dbe2fe;
        min-height: 100%;
        width: 100vw;
        padding: 12px;
      ">
    <section style="max-width: 1024px; margin-left: auto; margin-right: auto">
      <figure style="padding-top: 20px; padding-bottom: 20px">
        <img src="https://i.ibb.co/Jp7yXBz/Whats-App-Image-2024-03-12-at-18-12-08-ee3bf176.jpg" alt=""
          style="width: 201px; height: 32px" />
      </figure>
      <section style="
            padding: 24px;
            width: fit-content;
            height: fit-content;
            background-color: white;
            gap: 16px;
          ">
        <p>Dear <%= user_name %>,</p>
        <p>
          Welcome to Nurovant AI, your ultimate companion for personalized
          learning! We're thrilled to have you on board and excited to embark
          on this educational journey with you.
        </p>
        <p>
          At Nurovant AI, we understand that every student is unique, and
          that's why we've tailored our platform to cater to your individual
          learning style. Whether you're a visual learner who benefits from
          digital flashcards, a hands-on learner who thrives on interactive
          quizzes, or someone who prefers natural language interaction, our
          app has got you covered.
        </p>
        <p>Here's a glimpse of what you can expect from Nurovant AI:</p>
        <ul style="">
          <li>
            1. Digital Flashcards: Dive into your study materials with our
            digital flashcards, designed to help you grasp concepts more
            effectively.
          </li>
          <li>
            2. Interactive Quizzes: Test your understanding of lecture
            material and track your progress with customizable quizzes that
            adapt to your learning pace.
          </li>
          <li>
            3. AI Chatbot: Need instant academic assistance or explanations
            based on lecture content? Our AI chatbot is here to provide you
            with timely support through natural language interaction.
          </li>
        </ul>
        <p>
          Whether you're studying for exams, preparing for presentations, or
          simply aiming to enhance your knowledge, Nurovant AI is your go-to
          resource for academic success.
        </p>
        <p>
          We're committed to making your learning experience seamless and
          enjoyable, so don't hesitate to reach out to our support team if you
          have any questions or feedback along the way.
        </p>
        <p>
          Once again, welcome to Nurovant AI! We can't wait to see you excel.
        </p>
        <article style="">
          <p style="margin-bottom: 8px">Best regards,</p>
          <p style="margin-top: 2px">Trevor Gicheru</p>
          <p style="margin-top: 2px">CEO/Founder, Nurovant AI</p>
          <p style="margin-top: 2px">The Nurovant AI Team</p>
        </article>
      </section>
      <section style="
            background-color: white;
            margin-top: 24px;
            padding: 24px;
          ">
        <article style="text-align: center">
          <h1>Get the Nurovant app</h1>
          <p>
            Get the most of Nurovant by installing the mobile app. You can log
            in by using your existing emails address and password.
          </p>
        </article>
        <div style="
              margin-top: 24px;
              text-align: center;
            ">
          <a href="https://apps.apple.com/ng/app/nurovant-ai/id6461046210">
            <button style="border: none; border-radius: 12px; background-color: white; 
                  border: 2px solid black;
                  border-radius: 12px;
                  padding: 6px;
                  padding-right: 10px;
                  margin-top: 5px;">

              <img src="https://1000logos.net/wp-content/uploads/2016/10/Apple-Logo.png" alt=""
                style="width: 60px; height: auto; object-fit: cover; display: inline;" />
              <article style="display: inline-block;">
                <p style="margin-top: 0;">Download on the</p>
                <p style="font-size: 18px; font-weight: 600; margin-top: 0;">App Store</p>
              </article>
            </button>
          </a>

          <a href="https://play.google.com/store/apps/details?id=com.reflectly.ai&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
            
            <button style="
                border: none;
                border-radius: 12px;
                background-color: black;
                color: white;
                padding: 6px;
                padding: 8px 16px;
                margin-top: 5px;
              ">

              <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-1024.png" alt=""
                style="width: 40px; height: auto; object-fit: cover;  display: inline;" />
              <article style="color: white; display: inline-block;">
                <p style=" margin-top: 0;">Get it on</p>
                <p style="font-size: 18px; font-weight: 600; margin-top: 0;">Google Play</p>
              </article>
            </button>
          </a>

        </div>
        <div style="margin-top: 24px; text-align: center;">
          <a href="https://www.linkedin.com/company/nurovantai/" style="font-weight: 600; color: gray; margin-left: 5px; margin-right: 5px;">LinkedIn</a>
          <a href="https://x.com/nurovant43999?t=JdVNnKGvs0_J2TXIzYF84Q&s=09"
            style="font-weight: 600; color: gray; margin-left: 5px; margin-right: 5px;">Twitter</a>
          <a href="https://medium.com/@nurovantai/" style="font-weight: 600; color: gray; margin-left: 5px; margin-right: 5px;">Medium</a>
        </div>
      </section>
    </section>
  </main>
</body>

</html>

